<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Coursemates Directory</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Coursemates Directory</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<h4 class="text-muted text-center">Coursemates from the same school and other institution</h4>

<!-- .row -->
<div class="row el-element-overlay m-b-40">
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img class="img-responsive" src="plugins/images/users/nophoto.png" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li>
                                <a class="btn default btn-outline image-popup-vertical-fit" href="#" target="_blank">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn default btn-outline" href="#" target="_blank">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn default btn-outline" href="#" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Full name here</h3>
                    <small>UserType @ Institution Name</small>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->

</div>
<!-- /.row -->