<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Post View</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Post View</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>


<!-- .Row -->
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title">Post Title Here...</h3>
            <div class="row">
                <div class="col-sm-3">
                    <p><b>By: </b> Full Name here - dd/mm/yyy </p>
                    <img src="plugins/images/post/no-image-available.jpg" class="img-fluid  " />
                </div>
                <div class="col-sm-9">
                    <div id="slimtest1">
                        <p>Post content goes here...</p>

                        <hr>
                        <div class="row text-center">
                            <div class="col-6">
                                <h3 class="m-b-0 box-title">
                                    <li class="fa fa-eye"></li> <br><span>000</span></h4>
                            </div>

                            <div class="col-6">
                                <h3 class="m-b-0 box-title">
                                    <li class="fa fa-share-alt"></li> <br>
                                    <span>
                                        <a href="#">
                                            <li class="fa fa-twitter"></li>
                                        </a>
                                        <span class="p-r-20"></span>
                                        <a href="#">
                                            <li class="fa fa-whatsapp"></li>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.Row -->