<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Blog Section</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Blog</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-12">
        <div class="white-box">
            <p class="text-center text-muted p-20">explore thousands of updates...</p>

            <!-- .row -->
            <div class="row col-12">
                <!-- post-->
                <div class="media col-md-6">
                    <div class="media-left">
                        <img alt="64x64" class="media-object" src="plugins/images/post/no-image-available.jpg"
                            data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="post.php">Media heading here...</a>
                        </h4>
                    </div>
                </div>
                <!-- /post-->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>