<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Materials Section</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Material Section</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>




<!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            <h3 class="box-title m-b-0"></h3>
            <p class="text-muted m-b-40"><b>Home of all Educational Resourecs</b></p>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active nav-item" title="All Materials">
                    <a href="#all-materials" class="nav-link" aria-controls="home" role="tab" data-toggle="tab"
                        aria-expanded="true"><i class="ti-filter"></i><span class="visible-xs">
                            <i> AM</i></span><span class="hidden-xs"> All Materials</span></a>
                </li>
                <li role="presentation" class="nav-item" title="GSP">
                    <a href="#gsp-only" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab"
                        aria-expanded="false"><i class="ti-blackboard"></i><span class="visible-xs">
                            <i> G</i></span> <span class="hidden-xs"> GSP</span></a>
                </li>
                <li role="presentation" class="nav-item" title="Lecture Note">
                    <a href="#lecture-note-only" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab"
                        aria-expanded="false"><i class="ti-book"></i><span class="visible-xs">
                            <i> LN</i></span> <span class="hidden-xs"> Lecture Note</span></a>
                </li>
                <li role="presentation" class="nav-item" title="Post UTME">
                    <a href="#post-utme-only" class="nav-link" aria-controls="settings" role="tab" data-toggle="tab"
                        aria-expanded="false"><i class="ti-notepad"></i><span class="visible-xs">
                            <i> U</i></span> <span class="hidden-xs"> Post UTME</span></a>
                </li>
                <li role="presentation" class="nav-item" title="Past Question">
                    <a href="#past-question-only" class="nav-link" aria-controls="settings" role="tab" data-toggle="tab"
                        aria-expanded="false"><i class="ti-pencil-alt"></i><span class="visible-xs">
                            <i> PQ</i></span> <span class="hidden-xs"> Past Question</span></a>
                </li>
                <li role="presentation" class="nav-item" title="Saved List">
                    <a href="#user-saved-list" class="nav-link" aria-controls="settings" role="tab" data-toggle="tab"
                        aria-expanded="false"><i class="ti-bookmark"></i><span class="visible-xs">
                            <i> S</i></span> <span class="hidden-xs"> Saved List</span></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="all-materials">
                    <div class="col-md-12">
                        <!-- material row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-10">
                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon ribbon-default">Department here...
                                                </div>
                                                <p class="ribbon-content"><b>CODE: </b> title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here... | Level
                                                        here...</small></p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon ribbon-default">Department here...
                                                </div>
                                                <p class="ribbon-content"><b>CODE: </b> title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here... | Level
                                                        here...</small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- material row -->
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane" id="gsp-only">
                    <div class="col-md-12">
                        <!-- material row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-10">
                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon  ribbon-info">General Course
                                                </div>
                                                <p class="ribbon-content"><b>CODE: </b> title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here... | Level
                                                        here...</small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- material row -->
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane" id="post-utme-only">
                    <div class="col-md-12">
                        <!-- material row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-10">
                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon  ribbon-warning">UTME Prepation
                                                </div>
                                                <p class="ribbon-content">Subject Title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here...</small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- material row -->
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane" id="lecture-note-only">
                    <div class="col-md-12">
                        <!-- material row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-10">
                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon  ribbon-danger">Department here...
                                                </div>
                                                <p class="ribbon-content"><b>CODE: </b> title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here... | Level
                                                        here...</small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- material row -->
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane" id="past-question-only">
                    <div class="col-md-12">
                        <!-- material row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-10">
                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon  ribbon-success">Department here...
                                                </div>
                                                <p class="ribbon-content"><b>CODE: </b> title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here... | Level
                                                        here...</small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- material row -->
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane" id="user-saved-list">
                    <div class="col-md-12">
                        <!-- material row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-10">
                                    <div class="col-lg-4 col-md-6">
                                        <a href="#">
                                            <div class="ribbon-wrapper-reverse">
                                                <div class="ribbon ribbon-bookmark  ribbon-primary">Department here...
                                                </div>
                                                <p class="ribbon-content"><b>CODE: </b> title here...</p>
                                                <hr>
                                                <p class="text-right"><small>Institute Name here... | Level
                                                        here...</small></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- material row -->
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>
    </div>
</div>