<div class="login-box login-sidebar">
    <div class="white-box">
        <form class="form-horizontal form-material" id="loginform" action="#">
            <a href="javascript:void(0)" class="text-center db"><img src="plugins/images/logo.png" alt="Home" />
                <br />
                <h2><strong>Handouts</strong></h2>
            </a>
            <h3 class="box-title">Reset your password</h3>
            <small>Enter your user account's email address and we will send you a password reset link.</small>

            <div class="form-group m-t-40">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="enter your email address">
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <a class="btn btn-default waves-effect waves-light text-dark" href="login.php">Cancel</a>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-info btn-md btn-block waves-effect waves-light" type="submit">Send
                            password
                            reset email</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- jQuery -->
<script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/dist/js/tether.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/custom.min.js"></script>
<!--Style Switcher -->
<script src="plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>